<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SALARIAN</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/search">탐색 <span class="sr-only">(current)</span></a></li>

        <li><a href="/feed">피드라인</a></li>
        <li><a href="/posts">게시판 </a></li>
        <li><a href="#">이력서</a></li>
        <li><a href="/news">뉴스</a></li>
        <li><a href="/message">쪽지</a></li>
        <li><a href = "/chat">대화</a></li>
        <% if(isAuthenticated){ %>
        <li><a href="/rec"><i class="fa fa-jsfiddle btn-danger" aria-hidden="true"></i> Recombee</a></li>
        <% }  %>
      </ul>
      <form method="post" action="/search/" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input name="search_target" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">검색</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <% if(isAuthenticated){ %>
             <li><a href="/users/<%= currentUser.id %>">My Account</a></li>
             <li><a href="/logout">Logout</a></li>
           <% } else { %>
             <li><a href="/login">Login</a></li>
             <li><a href="/users/new">Sign Up</a></li>
           <% } %>

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
