<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
      <div class="nouser">
        <script type="text/javascript">


            alert('해당 아이디의 사용자가 없습니다');


          </script>

          <div class="userSearch">

            <form action = "/message/result" method="post"  id="searchAction" name="searchAction">
              <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
              <p>&nbsp; &nbsp; &nbsp; UserId &nbsp;&nbsp;
              <input maxlength="20" name="userForm" type="text" />

          <button type="submit" class="searchBtn">찾기</button>

             </form>
      </div>

    </body>
  </html>
