<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
      <div class="userResult">
        
      ${username}
      </div>

    </body>
  </html>
