<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
      <div class="userSearch">

        <form action = "/message/result" method="post"  id="searchAction" name="searchAction">
          <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
          <p>&nbsp; &nbsp; &nbsp; UserId &nbsp;&nbsp;
          <input maxlength="20" name="userForm" type="text" />

      <button type="submit" class="searchBtn">찾기</button>

         </form>
        </p>
      </div>
  
    </body>
  </html>
