<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="newsSearch">

      <form action = "news/result" method="get"  id="searchAction" name="searchAction">
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
        <p>&nbsp; &nbsp; &nbsp; 뉴스 검색 &nbsp;&nbsp;
        <input maxlength="20" name="userForm" type="text" value="" />

    <button type="submit" class="searchBtn">찾기</button>

       </form>
      </p>
    </div>



    </body>
  </html>
