<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="PR 전문가"> PR 전문가</label>
      <label><input type="checkbox" class="subOption" name="detail" value="광고 기획자(AE)"> 광고 기획자(AE)</label>
      <label><input type="checkbox" class="subOption" name="detail" value="그로스 해커"> 그로스 해커</label>
      <label><input type="checkbox" class="subOption" name="detail" value="글로벌 마케팅"> 글로벌 마케팅</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="마켓 리서처"> 마켓 리서처</label>
      <label><input type="checkbox" class="subOption" name="detail" value="브랜드 마케터"> 브랜드 마케터</label>
      <label><input type="checkbox" class="subOption" name="detail" value="소셜 마케팅"> 소셜 마케팅</label>
      <label><input type="checkbox" class="subOption" name="detail" value="온라인 마케터"> 온라인 마케터</label>
    </li>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="제휴 전문가"> 제휴 전문가</label>
      <label><input type="checkbox" class="subOption" name="detail" value="카피라이터"> 카피라이터</label>
      <label><input type="checkbox" class="subOption" name="detail" value="키워드 광고 전문가"> 키워드 광고 전문가</label>
    </li>
  </ul>
</li>
