<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="에디터"> 에디터</label>
      <label><input type="checkbox" class="subOption" name="detail" value="리포터"> 리포터</label>
      <label><input type="checkbox" class="subOption" name="detail" value="작가"> 작가</label>
      <label><input type="checkbox" class="subOption" name="detail" value="편집자"> 편집자</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="음향 엔지니어"> 음향 엔지니어</label>
      <label><input type="checkbox" class="subOption" name="detail" value="프로듀서"> 프로듀서</label>
      <label><input type="checkbox" class="subOption" name="detail" value="저널리스트"> 저널리스트</label>
      <label><input type="checkbox" class="subOption" name="detail" value="사진작가"> 사진작가</label>
    </li>
  </ul>
</li>
