<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="경찰관"> 경찰관</label>
      <label><input type="checkbox" class="subOption" name="detail" value="경호원"> 경호원</label>
      <label><input type="checkbox" class="subOption" name="detail" value="법무 자문위원"> 법무 자문위원</label>
      <label><input type="checkbox" class="subOption" name="detail" value="법무관"> 법무관</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="법무사"> 법무사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="변호사"> 변호사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="보안 요원"> 보안 요원</label>
      <label><input type="checkbox" class="subOption" name="detail" value="수사관"> 수사관</label>
    </li>
  </ul>
</li>
