<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption">견적기술자</label>
      <label><input type="checkbox" class="subOption">목수</label>
      <label><input type="checkbox" class="subOption">배관공</label>
      <label><input type="checkbox" class="subOption">용접기사</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption"> 전기기술자</label>
      <label><input type="checkbox" class="subOption"> 인스톨러</label>
      <label><input type="checkbox" class="subOption"> 연관공</label>
      <label><input type="checkbox" class="subOption"> 관리인</label>

    </li>

  </ul>
</li>