<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="견적기술자">견적기술자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="목수">목수</label>
      <label><input type="checkbox" class="subOption" name="detail" value="배관공">배관공</label>
      <label><input type="checkbox" class="subOption" name="detail" value="용접기사">용접기사</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="전기기술자"> 전기기술자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="인스톨러"> 인스톨러</label>
      <label><input type="checkbox" class="subOption" name="detail" value="연관공"> 연관공</label>
      <label><input type="checkbox" class="subOption" name="detail" value="관리인"> 관리인</label>

    </li>

  </ul>
</li>
