<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="의사"> 의사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="약사"> 약사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="수의사"> 수의사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="한의사"> 한의사</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="치과의사"> 치과의사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="간호사"> 간호사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="임상 병리사"> 임상 병리사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="물리 치료사"> 물리 치료사</label>
    </li>
  </ul>
</li>
