<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="C,C++ 개발자">C,C++ 개발자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="IOS 개발자">IOS 개발자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="Node.js 개발자">Node.js 개발자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="PHP 개발자">PHP 개발자</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="임베디드 개발자"> 임베디드 개발자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="안드로이드 개발자"> 안드로이드 개발자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="파이썬 개발자"> 파이썬 개발자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="보안 개발자"> 보안 개발자</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="JAVA 개발자"> JAVA 개발자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="테스트 엔지니어"> 테스트 엔지니어</label>
      <label><input type="checkbox" class="subOption" name="detail" value="그래픽스 엔지니어"> 그래픽스 엔지니어</label>
      <label><input type="checkbox" class="subOption" name="detail" value="네트워크 관리자"> 네트워크 관리자</label>

    </li>

  </ul>
</li>
