<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption"> CEO</label>
      <label><input type="checkbox" class="subOption"> CFO</label>
      <label><input type="checkbox" class="subOption"> COO</label>
      <label><input type="checkbox" class="subOption"> CSO</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption"> 전략 기획자</label>
      <label><input type="checkbox" class="subOption"> 조직관리 전문가</label>
      <label><input type="checkbox" class="subOption"> 컨설턴트</label>
      <label><input type="checkbox" class="subOption"> 프로젝트 매니저</label>
    </li>
  </ul>
</li>