<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption"> 경찰관</label>
      <label><input type="checkbox" class="subOption"> 경호원</label>
      <label><input type="checkbox" class="subOption"> 법무 자문위원</label>
      <label><input type="checkbox" class="subOption"> 법무관</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption"> 법무사</label>
      <label><input type="checkbox" class="subOption"> 변호사</label>
      <label><input type="checkbox" class="subOption"> 보안 요원</label>
      <label><input type="checkbox" class="subOption"> 수사관</label>
    </li>
  </ul>
</li>