<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption"> 게임 기획자</label>
      <label><input type="checkbox" class="subOption"> 게임 서버 개발</label>
      <label><input type="checkbox" class="subOption"> 모바일 게임 개발</label>
      <label><input type="checkbox" class="subOption"> 유니티 개발자</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption"> 언리얼 개발자</label>
      <label><input type="checkbox" class="subOption"> 게임 아티스트</label>
      <label><input type="checkbox" class="subOption"> 게임 클라이언트 개발자</label>
    </li>

  </ul>
</li>