<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="CPA"> CPA</label>
      <label><input type="checkbox" class="subOption" name="detail" value="감정평가사"> 감정평가사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="계리사"> 계리사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="금융공학자"> 금융공학자</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="부동산 자산 관리자"> 부동산 자산 관리자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="공인 중개사"> 공인 중개사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="손해 사정사"> 손해 사정사</label>
      <label><input type="checkbox" class="subOption" name="detail" value="재무 분석가"> 재무 분석가</label>
    </li>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="자산 운용가"> 자산 운용가</label>
      <label><input type="checkbox" class="subOption" name="detail" value="투자은행가"> 투자은행가</label>
      <label><input type="checkbox" class="subOption" name="detail" value="트레이더"> 트레이더</label>
      <label><input type="checkbox" class="subOption" name="detail" value="보험 에이전트"> 보험 에이전트</label>
    </li>
  </ul>
</li>
