<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="기계 엔지니어"> 기계 엔지니어</label>
      <label><input type="checkbox" class="subOption" name="detail" value="전자 엔지니어"> 전자 엔지니어</label>
      <label><input type="checkbox" class="subOption" name="detail" value="생물 엔지니어"> 생물 엔지니어</label>
      <label><input type="checkbox" class="subOption" name="detail" value="토목 엔지니어"> 토목 엔지니어</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="공정 엔지니어"> 공정 엔지니어</label>
      <label><input type="checkbox" class="subOption" name="detail" value="건설 엔지니어"> 건설 엔지니어</label>
      <label><input type="checkbox" class="subOption" name="detail" value="자동차 엔지니어"> 자동차 엔지니어</label>
      <label><input type="checkbox" class="subOption" name="detail" value="화학 엔지니어"> 화학 엔지니어</label>
    </li>
  </ul>
</li>
