<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption">C,C++ 개발자</label>
      <label><input type="checkbox" class="subOption">IOS 개발자</label>
      <label><input type="checkbox" class="subOption">Node.js 개발자</label>
      <label><input type="checkbox" class="subOption">PHP 개발자</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption"> 임베디드 개발자</label>
      <label><input type="checkbox" class="subOption"> 안드로이드 개발자</label>
      <label><input type="checkbox" class="subOption"> 파이썬 개발자</label>
      <label><input type="checkbox" class="subOption"> 보안 개발자</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption"> JAVA 개발자</label>
      <label><input type="checkbox" class="subOption"> 테스트 엔지니어</label>
      <label><input type="checkbox" class="subOption"> 그래픽스 엔지니어</label>
      <label><input type="checkbox" class="subOption"> 네트워크 관리자</label>

    </li>

  </ul>
</li>