<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption"> PR 전문가</label>
      <label><input type="checkbox" class="subOption"> 광고 기획자(AE)</label>
      <label><input type="checkbox" class="subOption"> 그로스 해커</label>
      <label><input type="checkbox" class="subOption"> 글로벌 마케팅</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption"> 마켓 리서처</label>
      <label><input type="checkbox" class="subOption"> 브랜드 마케터</label>
      <label><input type="checkbox" class="subOption"> 소셜 마케팅</label>
      <label><input type="checkbox" class="subOption"> 온라인 마케터</label>
    </li>
    <li>
      <label><input type="checkbox" class="subOption"> 제휴 전문가</label>
      <label><input type="checkbox" class="subOption"> 카피라이터</label>
      <label><input type="checkbox" class="subOption"> 키워드 광고 전문가</label>
    </li>
  </ul>
</li>