<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="게임 기획자"> 게임 기획자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="게임 서버 개발"> 게임 서버 개발</label>
      <label><input type="checkbox" class="subOption" name="detail" value="모바일 게임 개발"> 모바일 게임 개발</label>
      <label><input type="checkbox" class="subOption" name="detail" value="유니티 개발자"> 유니티 개발자</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="언리얼 개발자"> 언리얼 개발자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="게임 아티스트"> 게임 아티스트</label>
      <label><input type="checkbox" class="subOption" name="detail" value="게임 클라이언트 개발자"> 게임 클라이언트 개발자</label>
    </li>

  </ul>
</li>
