<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption"> 의사</label>
      <label><input type="checkbox" class="subOption"> 약사</label>
      <label><input type="checkbox" class="subOption"> 수의사</label>
      <label><input type="checkbox" class="subOption"> 한의사</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption"> 치과의사</label>
      <label><input type="checkbox" class="subOption"> 간호사</label>
      <label><input type="checkbox" class="subOption"> 임상 병리사</label>
      <label><input type="checkbox" class="subOption"> 물리 치료사</label>
    </li>
  </ul>
</li>