<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="CEO"> CEO</label>
      <label><input type="checkbox" class="subOption" name="detail" value="CFO"> CFO</label>
      <label><input type="checkbox" class="subOption" name="detail" value="COO"> COO</label>
      <label><input type="checkbox" class="subOption" name="detail" value="CSO"> CSO</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption" name="detail" value="전략 기획자"> 전략 기획자</label>
      <label><input type="checkbox" class="subOption" name="detail" value="조직관리 전문가"> 조직관리 전문가</label>
      <label><input type="checkbox" class="subOption" name="detail" value="컨설턴트"> 컨설턴트</label>
      <label><input type="checkbox" class="subOption" name="detail" value="프로젝트 매니저"> 프로젝트 매니저</label>
    </li>
  </ul>
</li>
