<li>
  <ul>
    <li>
      <label><input type="checkbox" class="subOption"> 기계 엔지니어</label>
      <label><input type="checkbox" class="subOption"> 전자 엔지니어</label>
      <label><input type="checkbox" class="subOption"> 생물 엔지니어</label>
      <label><input type="checkbox" class="subOption"> 토목 엔지니어</label>

    </li>

    <li>
      <label><input type="checkbox" class="subOption"> 공정 엔지니어</label>
      <label><input type="checkbox" class="subOption"> 건설 엔지니어</label>
      <label><input type="checkbox" class="subOption"> 자동차 엔지니어</label>
      <label><input type="checkbox" class="subOption"> 화학 엔지니어</label>
    </li>
  </ul>
</li>