<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <% include ../partials/head %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

  <style>
    .navbar{
      align-items: normal;
      display:block;
      flex-wrap:nowrap;
      font-weight:400;
    }
    .container-fluid>.navbar-collapse, 
    .container-fluid>.navbar-header, 
    .container>.navbar-collapse, 
    .container>.navbar-header{
      align-items:normal;
      -webkit-locale:"en";
      flex-basis: auto;
      flex-grow:0;
    }
    .navbar-default{
      margin : 0px;
      padding : 0px;
      position: relative;
      min-height: 50px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0);
      align-items: normal;
      display:block;
      flex-wrap:nowrap;
      justify-content: normal;
    }
    .navbar > .container-fluid{
      align-items: normal;
      display:block;
      flex-wrap:nowrap;
      font-weight:400;
      justify-content: normal;
      min-block-size:0px;
      min-height:0px;
      min-inline-size:0px;
      min-width: 0px;
      text-align:start;
      -webkit-locale:auto;
      -webkit-min-logical-height:0px;
      -webkit-min-logical-width:0px;

    }
  </style>

</head>

<body>
  <% include ../partials/nav %>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2" style="transition: all 0.25s;">
          <p class="lead">최종학력</p>
        </div>
        <div class="col-md-2 " style="transition: all 0.25s;">
          <div class="btn-group">
            <button class="btn dropdown-toggle btn-outline-dark" data-toggle="dropdown" aria-expanded="false"> Dropdown </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="#">4년제 졸업</a>
              <a class="dropdown-item" href="#">전문대 졸업</a>
              <a class="dropdown-item" href="#">기타</a>
            </div>
          </div>
        </div>
        <div class="col-md-2" style="transition: all 0.25s;">
          <p class="lead">어학</p>
        </div>
        <div class="col-md-2" style="transition: all 0.25s;">
          <form class="form-inline">
            <div class="input-group">
              <input type="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="score"> </div>
          </form>
        </div>
        <div class="col-md-1  " style="transition: all 0.25s;">
          <div class="btn-group">
            <button class="btn dropdown-toggle btn-outline-dark" data-toggle="dropdown" aria-expanded="false"> Dropdown </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
              <a class="dropdown-item" href="#">TOEIC</a>
              <a class="dropdown-item" href="#">TOEFL</a>
              <a class="dropdown-item" href="#">TEPS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="btn btn-lg btn-outline-dark btn-block">직군</a>
        </div>
        <div class="col-md-4">
          <a href="#" class="btn btn-lg btn-outline-dark btn-block">직무</a>
        </div>
        <div class="col-md-4">
          <a href="#" class="btn btn-lg btn-outline-dark btn-block">경력</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="btn btn-block btn-outline-dark">개인 추천 받기</a>
        </div>
        <div class="col-md-6">
          <a href="#" class="btn btn-block btn-outline-dark">연계 추천 받기</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </pingendo>
</body>

</html>
