<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F80308188398871" title="oEmbed Form">
  <link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F80308188398871" title="oEmbed Form">
  <meta property="og:title" content="Submit">
  <meta property="og:url" content="http://www.jotform.co/form/80308188398871">
  <meta property="og:description" content="Please click the link to complete this form.">
  <link rel="shortcut icon" href="https://cdn.jotfor.ms/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="HandheldFriendly" content="true" />
  <title>Submit</title>
  <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.4473" rel="stylesheet" type="text/css" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.4473" />
  <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.4473" />
  <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?themeRevisionID=59fb4852cf3bfe589c6c6f21" />
  <style type="text/css">
    .form-label-left {
      width: 150px;
    }

    .form-line {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    .form-label-right {
      width: 150px;
    }

    body,
    html {
      margin: 0;
      padding: 0;
      background: #fff;
    }

    .form-all {
      margin: 0px auto;
      padding-top: 0px;
      width: 690px;
      color: #555 !important;
      font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
      font-size: 14px;
    }
  </style>

  <style>
    body {
      color: #555;
      font-size: 1.25em;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    hr {
      margin: 50px 0;
    }

    ul {
      list-style: none;
    }

    .container {
      margin: 40px auto;
      max-width: 700px;
    }

    li {
      margin-top: 1em;
    }

    label {
      font-weight: bold;
    }
  </style>
  <style type="text/css" id="form-designer-style">
    /* Injected CSS Code */

    .form-label.form-label-auto {

      display: inline-block;
      float: left;
      text-align: left;

    }

    /*PREFERENCES STYLE*/

    .form-all {
      font-family: Lucida Grande, sans-serif;
    }

    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Lucida Grande, sans-serif;
    }

    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Lucida Grande, sans-serif;
    }

    .form-header-group {
      font-family: Lucida Grande, sans-serif;
    }

    .form-label {
      font-family: Lucida Grande, sans-serif;
    }



    .form-line {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    .form-all {
      width: 690px;
    }

    .form-label-left,
    .form-label-right,
    .form-label-left.form-label-auto,
    .form-label-right.form-label-auto {
      width: 150px;
    }

    .form-all {
      font-size: 14px
    }

    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 14px
    }

    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 14px
    }

    .supernova .form-all,
    .form-all {
      background-color: #fff;
      border: 1px solid transparent;
    }

    .form-all {
      color: #555;
    }

    .form-header-group .form-header {
      color: #555;
    }

    .form-header-group .form-subHeader {
      color: #555;
    }

    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label {
      color: #555;
    }

    .form-sub-label {
      color: #6f6f6f;
    }

    .supernova {
      background-color: undefined;
    }

    .supernova body {
      background: transparent;
    }

    .form-textbox,
    .form-textarea,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: undefined;
    }

    .supernova {
      background-image: none;
    }

    #stage {
      background-image: none;
    }

    .form-all {
      background-image: none;
    }

    .form-all {
      position: relative;
    }

    .form-all:before {
      content: "";
      background-image: url("https://www.jotform.com/uploads/guest_80288160998066/form_files/PiE7C5Ev_400x400.5a727f78dac913.50720280.jpg");
      display: inline-block;
      height: 140px;
      position: absolute;
      background-size: 140px 140px;
      background-repeat: no-repeat;
      width: 100%;
    }

    .form-all {
      margin-top: 150px !important;
    }

    .form-all:before {
      top: -150px;
      background-position: top center;
    }

    .ie-8 .form-all:before {
      display: none;
    }

    .ie-8 {
      margin-top: auto;
      margin-top: initial;
    }

    /*PREFERENCES STYLE*/

    /*__INSPECT_SEPERATOR__*/

    /* Injected CSS Code */
  </style>

  <script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
  <script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.4473" type="text/javascript"></script>
  <script type="text/javascript">
    JotForm.init(function() {
      JotForm.alterTexts({
        "alphabetic": "This field can only contain letters",
        "alphanumeric": "This field can only contain letters and numbers.",
        "ccDonationMinLimitError": "Minimum amount is {minAmount} {currency}",
        "ccInvalidCVC": "CVC number is invalid.",
        "ccInvalidExpireDate": "Expire date is invalid.",
        "ccInvalidNumber": "Credit Card Number is invalid.",
        "ccMissingDetails": "Please fill up the Credit Card details.",
        "ccMissingDonation": "Please enter numeric values for donation amount.",
        "ccMissingProduct": "Please select at least one product.",
        "characterLimitError": "Too many Characters.  The limit is",
        "characterMinLimitError": "Too few characters. The minimum is",
        "confirmClearForm": "Are you sure you want to clear the form?",
        "confirmEmail": "E-mail does not match",
        "currency": "This field can only contain currency values.",
        "cyrillic": "This field can only contain cyrillic characters",
        "dateInvalid": "This date is not valid. The date format is {format}",
        "dateInvalidSeparate": "This date is not valid. Enter a valid {element}.",
        "dateLimited": "This date is unavailable.",
        "disallowDecimals": "Please enter a whole number.",
        "email": "Enter a valid e-mail address",
        "fillMask": "Field value must fill mask.",
        "freeEmailError": "Free email accounts are not allowed",
        "generalError": "There are errors on the form. Please fix them before continuing.",
        "generalPageError": "There are errors on this page. Please fix them before continuing.",
        "gradingScoreError": "Score total should only be less than or equal to",
        "incompleteFields": "There are incomplete required fields. Please complete them.",
        "inputCarretErrorA": "Input should not be less than the minimum value:",
        "inputCarretErrorB": "Input should not be greater than the maximum value:",
        "lessThan": "Your score should be less than or equal to",
        "maxDigitsError": "The maximum digits allowed is",
        "maxSelectionsError": "The maximum number of selections allowed is",
        "minSelectionsError": "The minimum required number of selections is",
        "multipleFileUploads_emptyError": "{file} is empty, please select files again without it.",
        "multipleFileUploads_fileLimitError": "Only {fileLimit} file uploads allowed.",
        "multipleFileUploads_minSizeError": "{file} is too small, minimum file size is {minSizeLimit}.",
        "multipleFileUploads_onLeave": "The files are being uploaded, if you leave now the upload will be cancelled.",
        "multipleFileUploads_sizeError": "{file} is too large, maximum file size is {sizeLimit}.",
        "multipleFileUploads_typeError": "{file} has invalid extension. Only {extensions} are allowed.",
        "nextButtonText": "Next",
        "numeric": "This field can only contain numeric values",
        "pastDatesDisallowed": "Date must not be in the past.",
        "pleaseWait": "Please wait...",
        "prevButtonText": "Previous",
        "progressMiddleText": "of",
        "required": "This field is required.",
        "requireEveryCell": "Every cell is required.",
        "requireEveryRow": "Every row is required.",
        "requireOne": "At least one field required.",
        "reviewBackText": "Back to Form",
        "reviewSubmitText": "Review and Submit",
        "seeAllText": "See All",
        "submissionLimit": "Sorry! Only one entry is allowed.  Multiple submissions are disabled for this form.",
        "submitButtonText": "Submit",
        "uploadExtensions": "You can only upload following files:",
        "uploadFilesize": "File size cannot be bigger than:",
        "uploadFilesizemin": "File size cannot be smaller than:",
        "url": "This field can only contain a valid URL",
        "wordLimitError": "Too many words. The limit is",
        "wordMinLimitError": "Too few words.  The minimum is"
      });
      JotForm.clearFieldOnHide = "disable";
      JotForm.submitError = "jumpToFirstError";
      /*INIT-END*/
    });

    JotForm.prepareCalculationsOnTheFly([null, null, {
      "name": "input2",
      "qid": "2",
      "text": "제조/기계",
      "type": "control_button"
    }, {
      "name": "input3",
      "qid": "3",
      "text": "게임",
      "type": "control_button"
    }, {
      "name": "input4",
      "qid": "4",
      "text": "컨텐츠",
      "type": "control_button"
    }, {
      "name": "input5",
      "qid": "5",
      "text": "서비스/유통",
      "type": "control_button"
    }, {
      "name": "input6",
      "qid": "6",
      "text": "건설/시설",
      "type": "control_button"
    }, {
      "name": "input7",
      "qid": "7",
      "text": "디자인",
      "type": "control_button"
    }, {
      "name": "input8",
      "qid": "8",
      "text": "마케팅",
      "type": "control_button"
    }, {
      "name": "input9",
      "qid": "9",
      "text": "물류/운송",
      "type": "control_button"
    }, {
      "name": "input10",
      "qid": "10",
      "text": "법률",
      "type": "control_button"
    }, {
      "name": "input11",
      "qid": "11",
      "text": "정부/비영리",
      "type": "control_button"
    }, {
      "name": "input12",
      "qid": "12",
      "text": "비즈니스",
      "type": "control_button"
    }, {
      "name": "input13",
      "qid": "13",
      "text": "엔지니어링/설계",
      "type": "control_button"
    }, {
      "name": "input14",
      "qid": "14",
      "text": "영업",
      "type": "control_button"
    }, {
      "name": "input15",
      "qid": "15",
      "text": "의료/제약",
      "type": "control_button"
    }, {
      "name": "input16",
      "qid": "16",
      "text": "인사/교육",
      "type": "control_button"
    }, {
      "name": "input17",
      "qid": "17",
      "text": "투자/분석",
      "type": "control_button"
    }, {
      "name": "divider",
      "qid": "18",
      "type": "control_divider"
    }, {
      "name": "divider19",
      "qid": "19",
      "type": "control_divider"
    }, {
      "name": "input20",
      "qid": "20",
      "text": "성적",
      "type": "control_textbox"
    }, {
      "name": "input21",
      "qid": "21",
      "text": "학력",
      "type": "control_dropdown"
    }, {
      "name": "input22",
      "qid": "22",
      "text": "어학",
      "type": "control_dropdown"
    }, {
      "name": "input23",
      "qid": "23",
      "text": "경력",
      "type": "control_dropdown"
    }, {
      "name": "pspanStylefontsize",
      "qid": "24",
      "text": "직군",
      "type": "control_text"
    }, {
      "name": "input25",
      "qid": "25",
      "text": "나에게 딱 맞는 직무를 찾아보세요",
      "type": "control_head"
    }, {
      "name": "divider26",
      "qid": "26",
      "type": "control_divider"
    }, {
      "name": "input27",
      "qid": "27",
      "text": "건설/시설",
      "type": "control_checkbox"
    }]);
    setTimeout(function() {
      JotForm.paymentExtrasOnTheFly([null, null, {
        "name": "input2",
        "qid": "2",
        "text": "제조/기계",
        "type": "control_button"
      }, {
        "name": "input3",
        "qid": "3",
        "text": "게임",
        "type": "control_button"
      }, {
        "name": "input4",
        "qid": "4",
        "text": "컨텐츠",
        "type": "control_button"
      }, {
        "name": "input5",
        "qid": "5",
        "text": "서비스/유통",
        "type": "control_button"
      }, {
        "name": "input6",
        "qid": "6",
        "text": "건설/시설",
        "type": "control_button"
      }, {
        "name": "input7",
        "qid": "7",
        "text": "디자인",
        "type": "control_button"
      }, {
        "name": "input8",
        "qid": "8",
        "text": "마케팅",
        "type": "control_button"
      }, {
        "name": "input9",
        "qid": "9",
        "text": "물류/운송",
        "type": "control_button"
      }, {
        "name": "input10",
        "qid": "10",
        "text": "법률",
        "type": "control_button"
      }, {
        "name": "input11",
        "qid": "11",
        "text": "정부/비영리",
        "type": "control_button"
      }, {
        "name": "input12",
        "qid": "12",
        "text": "비즈니스",
        "type": "control_button"
      }, {
        "name": "input13",
        "qid": "13",
        "text": "엔지니어링/설계",
        "type": "control_button"
      }, {
        "name": "input14",
        "qid": "14",
        "text": "영업",
        "type": "control_button"
      }, {
        "name": "input15",
        "qid": "15",
        "text": "의료/제약",
        "type": "control_button"
      }, {
        "name": "input16",
        "qid": "16",
        "text": "인사/교육",
        "type": "control_button"
      }, {
        "name": "input17",
        "qid": "17",
        "text": "투자/분석",
        "type": "control_button"
      }, {
        "name": "divider",
        "qid": "18",
        "type": "control_divider"
      }, {
        "name": "divider19",
        "qid": "19",
        "type": "control_divider"
      }, {
        "name": "input20",
        "qid": "20",
        "text": "성적",
        "type": "control_textbox"
      }, {
        "name": "input21",
        "qid": "21",
        "text": "학력",
        "type": "control_dropdown"
      }, {
        "name": "input22",
        "qid": "22",
        "text": "어학",
        "type": "control_dropdown"
      }, {
        "name": "input23",
        "qid": "23",
        "text": "경력",
        "type": "control_dropdown"
      }, {
        "name": "pspanStylefontsize",
        "qid": "24",
        "text": "직군",
        "type": "control_text"
      }, {
        "name": "input25",
        "qid": "25",
        "text": "나에게 딱 맞는 직무를 찾아보세요",
        "type": "control_head"
      }, {
        "name": "divider26",
        "qid": "26",
        "type": "control_divider"
      }, {
        "name": "input27",
        "qid": "27",
        "text": "건설/시설",
        "type": "control_checkbox"
      }]);
    }, 20);
  </script>


  <% include ../partials/head %>

</head>

<body>
  <% include ../partials/nav %>
    <form class="jotform-form" action="/rec/sending" method="post" name="form_80308188398871" id="80308188398871" accept-charset="utf-8">
      <input type="hidden" name="formID" value="80308188398871" />
      <div class="form-all">
        <ul class="form-section page-section">
          <li id="cid_25" class="form-input-wide" data-type="control_head">
            <div class="form-header-group ">
              <div class="header-text httac htvam">
                <h2 id="header_25" class="form-header" data-component="header">
                나에게 딱 맞는 직무를 찾아보세요
              </h2>
              </div>
            </div>
          </li>
          <li class="form-line form-line-column form-col-1" data-type="control_dropdown" id="id_21">
            <label class="form-label form-label-top" id="label_21" for="input_21"> 학력 </label>
            <div id="cid_21" class="form-input-wide">
              <select class="form-dropdown" id="input_21" name="q21_input21" style="width:150px;" data-component="dropdown">
              <option value="">  </option>
              <option value="4년제 대학 졸업"> 4년제 대학 졸업 </option>
              <option value="전문 대학 졸업"> 전문 대학 졸업 </option>
              <option value="기타"> 기타 </option>
            </select>
            </div>
          </li>
          <li class="form-line form-line-column form-col-2" data-type="control_dropdown" id="id_23">
            <label class="form-label form-label-top" id="label_23" for="input_23"> 경력 </label>
            <div id="cid_23" class="form-input-wide">
              <select class="form-dropdown" id="input_23" name="q23_input23" style="width:150px;" data-component="dropdown">
              <option value="">  </option>
              <option value="신입"> 신입 </option>
              <option value="3년미만"> 3년미만 </option>
              <option value="5년미만"> 5년미만 </option>
              <option value="5년이상"> 5년이상 </option>
            </select>
            </div>
          </li>
          <li class="form-line" data-type="control_divider" id="id_19">
            <div id="cid_19" class="form-input-wide">
              <div data-component="divider" style="border-bottom:1px solid #e6e6e6;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px;">
              </div>
            </div>
          </li>
          <li class="form-line form-line-column form-col-1" data-type="control_dropdown" id="id_22">
            <label class="form-label form-label-top" id="label_22" for="input_22"> 어학 </label>
            <div id="cid_22" class="form-input-wide">
              <select class="form-dropdown" id="input_22" name="q22_input22" style="width:150px;" data-component="dropdown">
              <option value="">  </option>
              <option value="TOEIC"> TOEIC </option>
              <option value="TOEFL"> TOEFL </option>
              <option value="TEPS"> TEPS </option>
            </select>
            </div>
          </li>
          <li class="form-line form-line-column form-col-2" data-type="control_textbox" id="id_20">
            <label class="form-label form-label-top" id="label_20" for="input_20"> 성적 </label>
            <div id="cid_20" class="form-input-wide">
              <input type="text" id="input_20" name="q20_input20" data-type="input-textbox" class="form-textbox" size="16" value="" data-component="textbox" />
            </div>
          </li>

          <li class="form-line" data-type="control_divider" id="id_19">
            <div id="cid_19" class="form-input-wide">
              <div data-component="divider" style="border-bottom:1px solid #e6e6e6;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px;">
              </div>
            </div>
          </li>

          <div class="container">
            <ul>
              <li>
                <label for="option"> 건설/시설</label>
                <ul>
                  <li>
                    <label><input type="checkbox" class="subOption">견적기술자</label>
                    <label><input type="checkbox" class="subOption">목수</label>
                    <label><input type="checkbox" class="subOption">배관공</label>
                    <label><input type="checkbox" class="subOption">용접기사</label>

                  </li>

                  <li>
                    <label><input type="checkbox" class="subOption"> 전기기술자</label>
                    <label><input type="checkbox" class="subOption"> 인스톨러</label>
                    <label><input type="checkbox" class="subOption"> 연관공</label>
                    <label><input type="checkbox" class="subOption"> 관리인</label>

                  </li>

                </ul>
              </li>
            </ul>
          </div>


          <li class="form-line" data-type="control_button" id="id_29">
            <div id="cid_29" class="form-input-wide">
              <div style="text-align:center;" class="form-buttons-wrapper">
                <button id="input_29" type="submit" class="form-submit-button" data-component="button">
            추천받기
          </button>
              </div>
            </div>
          </li>




    </form>
</body>

</html>
