<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
      <div>
      <h1>추천완료(interaction 발생)</h1>

      </div>

    </body>
  </html>
