<!DOCTYPE html>
<html>

<head>
  <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="loadmore.js"></script>
  <script type="text/javascript">
    function yHandler() {
      // Watch video for line by line explanation of the code
      // http://www.youtube.com/watch?v=eziREnZPml4
      var wrap = document.getElementById('wrap');
      var contentHeight = wrap.offsetHeight;
      var yOffset = window.pageYOffset;
      var y = yOffset + window.innerHeight;
      if (y >= contentHeight) {
        // Ajax call to get more dynamic data goes here
        // wrap.innerHTML += '<div class="newData"></div>';
        wrap.innerHTML += '<div><img src="https://farm5.staticflickr.com/4448/37763290032_17ec1923d0_o.jpg"></div>';

      }
      // var status = document.getElementById('status');
      // status.innerHTML = contentHeight + " | " + y;
    }

    window.onscroll = yHandler;
  </script>
  <style>
    /* div#status {
      position: fixed;
      font-size: 24px;
    } */

    div#wrap {
      width: 0px auto;
      margin: 0px auto;
      text-align: center;
      display: flex;
      align-items: center;
    }

    div.newData {
      height: 1000px;
      background: #09F;
      margin: 10px 0px;
    }
  </style>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

    <!-- <div id="status">0 | 0</div> -->

    <!-- <div id="wrap"> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <br>
        </div>
        <div class="col-sm-8">
          <br>
          <h2>당신에게 딱 맞는 회사를 찾았습니다!</h2>
          <br>
          <br>
          <div class="row">
            <% for( var i=0; i< recommended.length; i++){ %>
            <form action="/rec/result" method="post" id="userForm" name="userForm">
              <div class="col-sm-3">
                <div class="thumbnail">
                  <img src="<%=recommended[i].img%>" width=480px height=479px alt="...">
                  <div class="caption">
                    <h3><%=recommended[i].itemId%></h3>
                    <small><%=recommended[i].job%></small>
                    <p>보고있나snow</p>


                    <p><button type="submit" class="btn btn-default"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>추천</button></p>
<!-- <button type="submit" class="btn btn-default">지원</button><button type="submit" class="btn btn-default">관심</button> -->
                  </div>
                </div>
              </div>
              </form>
              <% } %>

          </div>
        </div>
        <div class="col-sm-2">
          <br>

        </div>
      </div>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </div>

</body>

</html>
