<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container user user-index">
      <form action="/search" method="post">
      <h3>Search</h3>
          <div class="search-bar">
            <label for="search_target">Name</label>
            <br>
            <input type="text" id="search_target" name="search_target">
            <input class="btn-next" type="submit" value="Search">
          </div>
      </form>
    </div>

    <div class="container user user-index">

      <div class="contentBox">
        <h3 class="contentBoxTop">Users</h3>
        <ul class="floats">
          <% if(list == null || list.length == 0){ %>
            <div class="noData" colspan=100> No results </div>
          <% } %>
          <% list.forEach(function(user) { %>
            <li>
              <a href="../users/<%= user.username %>"><%= user.username %></a>
            </li>
          <% }) %>
        </ul>
      </div>
  </body>
</html>
